html {
	/* Use softer blue from bootstrap's default info color */
	--pst-color-primary: 0, 108, 133;
	--pst-color-active-navigation: 0, 108, 133;
	--pst-color-navbar-link: 255, 255, 255;
	--pst-color-navbar-link-hover: 200, 255, 255;
	--pst-color-navbar-link-active: 255, 255, 255;
	--pst-color-on-background: #006d85;
	
  }
  
  h1 {
	  --pst-color-heading: #006d85;
  }
  
  h2 {
	--pst-color-heading: #006d85;
  }

  h3 {
	--pst-color-heading: #006d85;
  }

  .sd-btn{
	border-color: #006d85;
	width: 100%;
	text-align: left;
  }

  p .sd-btn:hover{
	background-color: #006d85;
	color: #ffffff
  }
  
  .bd-header {
	  --pst-color-text-muted: #ffffff;
	  --pst-color-on-background: #006d85;
  }
  .bd-header ul.navbar-nav > li.nav-item.current > .nav-link{
	  color:#c8ffff;
	  --pst-color-secondary:#c8ffff;
  }
  
  .bd-header ul.navbar-nav > li.nav-item > .nav-link:hover{
	  color:#c8ffff;
	  --pst-color-secondary:#c8ffff;
  }

  .search-button-field{
	color: #5c5c5c
  }